
/*----header style start---*/
.fixed-top {
  z-index: 1000;
  background-color: var(--white);
}
.top-layer{
  height: 30px;
}
.navbar-nav{
  display: flex;
  justify-content: space-around;
}
.navbar-brand img {
  width: 110px;
}
.header-section{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.logo-title h6 a{
  color: var(--black);
  font-family: 'Langar', system-ui;
  font-size: 36px;
  font-weight: 400;
  margin-top: -15px;
  text-decoration: none;
}

.logo-title span {
  font-family: 'Langar', system-ui;
  margin-top: -10px;
  margin-left: 1.8%;
}
.nav-item {
  margin: 0 40px;
}

.nav-link {
  position: relative;
  font-size: 20px;
}

.nav-link i {
  position: absolute;
  margin-top: 8px;
}

.header-btn {
  height: 50px;
  background: var(--green);
  padding: 0 20px;
}
.header-btn:hover {
  background: dimgray;
  color: var(--white);
}
.fa-angle-down {
  font-size: 16px;
}

.dropdown-menu{
  margin-left: -20%;
  min-width: 200px;
  border: 0;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-menu li{
  padding: 0 10px;
}
.dropdown-menu li a{
  padding: 10px 0 10px 20px;
  transition: 1s;
}
.dropdown-menu li a:hover{
  background: #d5d2d2;
  padding: 10px 0 10px 20px;
  border-radius: 10px;
  transition: 1s ease-in-out;
  color: black;
}

//----------
.dropdown-menu li ul{
  display: none;
}

.dropdown-menu li a:hover .dropdown-menu li a ul li {
  display: block;
}



.offcanvas {
  background: var(--white);
}
.close {
  font-size: 30px;
  margin-left: 65%;
}

.hide {
  visibility: hidden;
}


/*----header style end---*/

/*---responsive style start---*/
@media screen and (max-width: 1800px) {
  .navbar-brand img {
    width: 100px;
  }

  .logo-title h6 {
    font-size: 30px;
  }
  .logo-title span{
    margin-left: 1.5%;
  }
  .nav-item {
    margin: 0 30px;
  }
}

@media screen and (max-width: 1650px) {
  .navbar-brand img {
    width: 80px;
  }

  .logo-title h6 {
    font-size: 30px;
  }

  .nav-item {
    margin: 0 24px;
  }
  .logo-title{
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1540px) {
  .navbar-brand img {
    width: 60px;
  }

  .logo-title h6 {
    font-size: 24px;
  }

  .logo-title span {
    font-size: 14px;
    margin-left: 1.5%;
  }

  .nav-item {
    margin: 0 16px;
  }
}
@media screen and (max-width: 1420px) {

  .logo-title span {
    font-size: 14px;
    margin-left: 0;
  }

  .nav-item {
    margin: 0 8px;
  }
  .dropdown-menu{
    margin-left: -15px;
  }

}
  @media screen and (max-width: 1300px) {
    .navbar-nav{
      display: flex;
      justify-content: start;
    }
    .navbar-brand img {
      margin-left: -5%;
    }

    .logo-title h6 {
      font-size: 18px;
      margin-left: -5%;
    }
    .logo-title span {
      font-size: 14px;
    }

    .nav-item {
      margin: 0 5px;
    }

}
@media screen and (max-width: 1260px){
 .logo-title{
   padding-bottom: 10px;
 }
  .nav-link {
    font-size: 18px;
  }

}
@media screen and (max-width: 768px){
  .offcanvas{
    width: 60%;
  }
  .header-btn {
    height: 40px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 576px){
  .logo-title {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .logo-title h6 {
    font-size: 16px;
  }
  .offcanvas{
    width: 70%;
  }

}



/*---responsive style end---*/
