<!------footer section start----->
<footer class="footer-section">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="first-footer-title d-flex flex-column align-items-center">
          <h4 class="text-dark fw-bolder">Get In Touch</h4>
        </div>
        <div class="first-footer-list d-flex flex-column align-items-center mt-4">
          <ul class="list-unstyled">
            <li class="mb-3">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fs-5 fa-house-crack mx-3 mt-1"></i>
                </div>
                <div class="col-11">
                  <ul>
                    <li class="fs-5">Raster Master International Foundation</li>
                    <li class="fs-5">A/C No - 40715717111</li>
                    <li class="fs-5">IFSC - SBIN0006188</li>
                    <li class="fs-5">Branch-Jamuria Bazaar</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="mb-3">
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fs-5 fa-envelope mx-3 mt-1"></i>
                </div>
                <div class="col-11">
                  <ul>
                    <li>
                      <a href="mailto:rastermaster01@gmail.com" class="fs-5"> rastermaster01@gmail.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="row">
                <div class="col-1">
                  <i class="fa-solid fa-phone-volume fs-5 mx-3 mt-1"></i>
                </div>
                <div class="col-11">
                  <ul>
                    <li>  <a href="tel:+9732129445" class="fs-5">
                      +919732129445
                    </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="second-footer-title d-flex flex-column align-items-center">
          <h4 class="text-dark fw-bolder">Quick Links</h4>
        </div>
        <div class="second-footer-list d-flex flex-column align-items-center mt-4">
          <ul class="list-unstyled">
            <li class="mb-3"><i class="fa-brands fa-facebook fs-4 mx-3"></i><a
              href="https://www.facebook.com/deepnarayan.nayak.37?mibextid=ZbWKwL"
              class="fs-5">
              Facebook</a></li>
            <li class="mb-3"><i class="fa-brands fa-linkedin fs-4 mx-3"></i><a
              href="https://www.linkedin.com/in/rastermaster?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              class="fs-5">
              Linkedin</a></li>
            <li class="mb-3"><i class="fa-brands fa-instagram fs-4 mx-3"></i><a
              href="https://www.instagram.com/nayakdeepnarayan?utm_source=qr&igsh=eDYxNXE0a2ZrbXVm" class="fs-5">
              Instagram</a></li>
            <li><i class="fa-brands fa-twitter fs-4 mx-3"></i><a
              href="https://x.com/DeepNarayanNay2?t=UP_Jig4BVYne7A8jbRxZhw&s=09" class="fs-5">
              Twitter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="last-footer-title d-flex flex-column align-items-center">
          <h4 class="text-dark fw-bolder">At A Glance</h4>
        </div>
        <div class="last-footer-list d-flex flex-column align-items-center mt-4">
          <ul class="list-unstyled">
            <li class="mb-3"><a class="fs-5" routerLink="/about_us/who_we_are">About Us</a></li>
            <li class="mb-3"><a class="fs-5" routerLink="/get_involved/donation">Donate</a></li>
            <li><a href="" class="fs-5" routerLink="/about_us/contact_us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!------footer section end----->
