/*---footer style start---*/

.first-footer-title h4 {
  margin-left: -10%;
}

.second-footer-title h4 {
  margin-left: -5%;
}

.last-footer-title h4 {
  margin-left: 14%;
}
.copyright-section{
  background: var(--gray);
  padding: 15px 0;
  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.5);
}
.copyright-section h4{
  color: #F4F1F1;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.copyright-section p{
  color: #F4F1F1;
  font-size: 20px;
  font-weight: bold;
}
/*---footer style end---*/


/*---responsive style start---*/

@media screen and (max-width: 767px) {

  .first-footer-title,
  .second-footer-title,
  .last-footer-title,
  .first-footer-list,
  .second-footer-list,
  .last-footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .copyright-section h4{
    font-size: 20px;
  }
  .copyright-section p{
    font-size: 16px;
  }

}

/*---responsive style end---*/
