section{
  background: url("../../../../assets/Projects/Ongoing-Project-Details/ongoing_details_project_body.png") no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 0;

}
p{
  text-align: justify;
}
.ongoing-section,
.ongoing-image-section,
.ongoing-section,
.ongoing-details-project-section{
  padding: 50px 0;
}
.ongoing-title h2,
.ongoing-details-project-title h2,
.banner-title h2{
  color: var(--black);
  font-size: 48px;
}
.ongoing-desc p,
.ongoing-highlight p{
  font-size: 20px;
}

.project-banner-section{
  background: url("../../../../assets/Projects/Ongoing-Project-Details/ongoing_details_project_banner.PNG") no-repeat center center;
  background-size: cover;
  height: 700px;
}
.banner-details{
  margin-top: 130px;
}
.banner-btn button:hover{
  background: dimgray;
  color: var(--white);
}
.banner-desc p{
  width: 90%;
}
.banner-title h2,
.banner-desc p,
.banner-btn button{
  color: var(--white);
}
.banner-btn button{
  background: var(--green);
  color: var(--black);
}
.banner-desc p,
.banner-btn button{
  font-size: 20px;
}
.ongoing-img img{
  width: 432px;
  height: 400px;
  border-radius: 20px;
}
.ongoing-img{
  margin-left: 5%;
}
.ongoing-highlight{
  background: var(--green);
  color: var(--black);
  font-weight: bold;
  padding: 50px 150px;
  border-radius: 20px;
}
.ongoing-details-project-title{
  margin-bottom: 30px;
}
/*---responsive style start---*/

@media screen and (max-width: 1200px) {
  .ongoing-img img{
    height: 350px;
  }
  .ongoing-img{
    margin-left: 10%;
  }
  .project-banner-section{
    height: 600px;
  }
  .banner-details{
    margin-top: 70px;
  }
  .banner-title h2,
  .banner-desc p{
    width: 100%;
  }

}
@media screen and (max-width: 1090px) {
  .banner-title h2{
    font-size: 38px;
  }
}

@media screen and (max-width: 991px) {
  .ongoing-img img{
    height: 300px;
  }
  .ongoing-highlight{
    padding: 30px 50px;
  }
  .ongoing-details-project-title h2{
    color: var(--black);
    font-size: 36px;
  }
  .banner-desc p{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .banner-title h2{
    font-size: 28px;
  }
  .ongoing-section{
    padding: 20px 0;
  }

  .ongoing-desc p,
  .ongoing-highlight p{
    font-size: 16px;
  }
  .ongoing-details-project-title h2{
    margin-top: 100px;
  }
  .banner-details{
    margin-top: 10px;
  }
  .banner-desc p{
    width: 50%;
    font-size: 16px;
  }
  .project-banner-section{
    height: 400px;
  }
}
@media screen and (max-width: 576px){
  .banner-details{
    margin-top: 70px;
  }
  .banner-desc p{
    width: 100%;
  }
  .banner-btn{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .ongoing-details-project-section{
    padding: 10px 0;
  }
  .banner-details{
    margin-top: 50px;
  }
}
@media screen and (max-width: 360px) {
  .banner-details{
    margin-top: 20px;
  }
}
