.scroll-to-top {
  position: fixed;
  bottom: 5%;
  right: 1%;
  background: var(--green);
  color: var(--black);
  font-size: 20px;
  padding: 8px 15px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--black);
  border-radius: 10px;
}
.scroll-to-top.show {
  opacity: 1;
}
.scroll-to-top:hover {
  background: var(--black);
  color: var(--white);
}
/*---responsive style start---*/
@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
.scroll-to-top{
  font-size: 16px;
  padding: 5px 10px;
}
}
