section{
  margin-bottom: 0;
}
p{
  text-align: justify;
  margin-left: 0;
  margin-bottom: 0;
}
.teacher-of-street-section{
  padding: 50px 0;
}
.teacher-of-street-title h2{
  color: var(--black);
  font-size: 48px;
  margin-top: 50px;
}
.teacher-of-street-title h2 span{
  color: var(--green);
}
.teacher-of-street-sub-title h4{
  font-size: 16px;
}
.teacher-of-street-desc p{
  font-size: 20px;
  margin-top: 20px;
}
.teacher-of-street-desc{
  margin-top: 50px;
}
.founder-card{
  margin-top: 10%;
  width: 30%;
}
.card{
  position: relative;
}
.card-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--green);
  padding: 110px 24px 24px 24px;
  border-radius: 15px;
}
.card-title h4{
  font-size: 20px;
}
.card-desc{
  width: 70%;
  //display: flex;
  //justify-content: center;
}
.card-desc p{
  font-size: 16px;
  margin: 10px 0;
}
.contact p{
  text-align: center;
}
.card-image img{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 12px 28px 0 rgba(140, 149, 159, 0.3);
  width: 140px;
  height: 140px;
}
.founder-card,
.teams-title{
  margin-bottom: 10%;
}
.teams-btn{
  padding: 50px 0;
}

.teams-btn button,
.teams-btn .button{
  background: transparent;
  border: 2px solid var(--black);
  border-radius: 20px;
  padding: 5px 12px;
}
.teams-btn button:hover,
.teams-btn .button:hover{
  border: 2px solid var(--green);
  color: var(--green);
  border-radius: 20px;
}

.toggle-switch:checked ~ .teams-btn > .button {
  display: none;
}
.hidden-cards .row{
  margin-top: -50px;
}
.hidden-card{
  margin-bottom: 7rem;
}

/*---responsive style start---*/
@media screen and (max-width: 1200px){
  .founder-card{
    width: 40%;
  }
  .founder-card,
  .teams-title{
    margin-bottom: 0;
  }
  .card {
    margin-top: 20%;
  }
}
@media screen and (max-width: 991px) {
  .teacher-of-street-section{
    padding: 20px 0;
  }
  .teacher-of-street-title h2{
    font-size: 36px;
  }

  .teacher-of-street-desc{
    margin-top: 20px;
  }
  .founder-card{
    width: 50%;
    margin-top: 20%;
  }
  .teams-people{
    margin-top: 30%;
  }
  .teams-title{
    margin-bottom: -20%;
  }
  .card {
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .teacher-of-street-section{
    padding: 10px 0;
  }
  .teacher-of-street-title h2{
    font-size: 24px;
    text-align: center;
  }
  .teacher-of-street-desc p{
    font-size: 16px;
  }
  .teacher-of-street-desc{
    margin-top: 10px;
  }
  .founder-card{
    width: 80%;
    margin-top: 25%;
  }

  .teams-title{
    margin-top: 10%;
    margin-bottom: -30%;
  }
  .founder-card{
    margin-top: 10%;
    margin-left: -5%;
  }
  .card {
    margin-top: 20%;
  }
}
@media screen and (max-width: 450px) {
  .teacher-of-street-title h2{
    font-size: 16px;
  }
  .founder-card{
    width: 100%;
  }
  }
