section{
  margin-bottom: 0;
}
.donate-banner-section{
  background: url("../../../../assets/Get-Involved/Collaborate/collaborate_banner.png") no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  height: 600px;
  position: relative;
}

p{
  text-align: justify;
  margin-left: 0;
  margin-bottom: 0;
}

.donate-title h2 {
  color: var(--black);
  font-size: 48px;
  text-align: center;
  padding-top: 200px;
}

.donate-form-title h2{
  color: var(--black);
  font-size: 48px;
  text-align: center;
}

.donate-btn{
  margin-top: 30px;
}

.collaborate-area .container{
  background: #D8D8D8;
  border-radius: 20px;
  padding: 40px 0;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.donate-form{
  padding: 30px 200px;
}

.form-control{
  padding: 20px 25px;
  margin-bottom: 30px;
  outline: 0;
}
.form-control:focus{
  outline: 0;
  box-shadow: none;
  border: none;
}
.form-check-label p a{
  cursor: pointer;
}
.save-remember-checkbox[type=checkbox]{
  margin-left: 0;
}

.collaborate-area{
  padding: 100px 50px;
  display: flex;
}
.collaborate-icon img{
  width: 200px;
  height: 200px;
}
.collaborate-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 20px;
}
.collaborate-icon img{
  margin: 30px 0;
}
/*---responsive style start---*/
@media screen and (max-width: 1600px){
  .collaborate-area{
    padding: 100px 30px;
    display: flex;
  }
  .collaborate-icon img{
    width: 180px;
    height: 150px;
  }


}
@media screen and (max-width: 1400px) {

  .donate-form{
    padding: 30px 100px;
  }
}
@media screen and (max-width: 991px) {
  .donate-title h2,
  .donate-form-title h2{
    font-size: 36px;
  }
  .donate-form-section{
    padding: 20px 0;
  }
  .collaborate-area .container{
    padding: 30px 0;
  }
  .donate-form{
    padding: 20px 30px;
  }
  .collaborate-area{
    padding: 50px 30px;
    display: flex;
  }

}
@media screen and (max-width: 768px) {
  .donate-banner-section{
    height: 400px;
  }
  .donate-title h2{
    padding-top: 150px;
  }

  .donate-form-title h2,
  .donate-title h2{
    font-size: 24px;
    text-align: center;
  }

  .collaborate-area .container{
    padding: 30px 0;
  }
  .donate-form{
    padding: 20px 30px;
  }
  .form-control{
    padding: 10px 25px;
  }

  .collaborate-icon img{
    width: 100px;
    height: 100px;
  }
  .collaborate-area{
    padding: 20px 30px;
  }
}
@media screen and (max-width: 576px) {
  .donate-banner-section{
    height: 300px;
  }
  .donate-title h2{
    padding-top: 100px;
  }
  .collaborate-area{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .collaborate-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

}

@media screen and (max-width: 450px) {

  .donate-title h2{
    color: var(--black);
    font-size: 24px;
  }
  .collaborate-area{
    display: flex;
flex-direction: column;
    padding: 0 30px;
  }
  .collaborate-area{
    padding: 0 30px;
    display: flex;
  }
}

