section{
  margin-bottom: 0;
}
p{
  text-align: justify;
  margin-left: 0;
  margin-bottom: 0;
}
.country-section,
.country-image-section,
.environment-pollution-section,
.glob-section{
  margin: 50px 0;
}
.achievement-title h2 span{
  color: var(--green);
}
.country-title h2,
.achievement-title h2,
.donate-title h2{
  color: var(--black);
  font-size: 48px;
  margin-top: 50px;
}
.country-desc p,
.environment-pollution-highlight p,
.achievement-desc p,
.donate-desc P,
.glob-desc p{
  font-size: 20px;
  margin-top: 20px;
}
.country-img img{
  width: 432px;
  height: 400px;
  border-radius: 20px;
}
.country-img{
  margin-left: 5%;
}
.environment-pollution-highlight{
  background: var(--green);
  color: var(--black);
  font-weight: bold;
  padding: 50px 150px;
  border-radius: 20px;
}
.support-btn{
  margin-top: 20px;
}
.donate-section{
  margin-bottom: 50px;
}
.donate-btn button{
  text-transform: uppercase;
  margin-top: 50px;
}
.glob-section{
  background: url("../../../../assets/About-Us/Our-Workplace/glob.png") no-repeat center center;
}
.glob-details{
  padding: 100px 0 100px 20px;
}
/*---responsive style start---*/
@media screen and (max-width: 1200px) {
  .country-img img{
    height: 350px;
  }
  .country-img{
    margin-left: 10%;
  }
}

@media screen and (max-width: 991px) {
  .glob-details{
    padding: 50px 0 50px 20px;
  }
  .glob-section{
    margin: 20px 0;
  }

  .donate-section{
    padding: 20px 0;
  }
  .country-title h2,
  .achievement-title h2,
  .donate-title h2{
    font-size: 36px;
  }
  .country-img img{
    height: 250px;
  }
  .environment-pollution-highlight{
    padding: 30px 50px;
  }
  .achievement-desc {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .glob-details{
    padding: 50px 0 50px 10px;
  }
  .country-section,
  .glob-section{
    margin: 10px 0;
  }
  .country-desc p,
  .environment-pollution-highlight p,
  .glob-desc p{
    font-size: 16px;
  }

  .donate-section{
    padding: 10px 0;
  }

  .achievement-title h2,
  .donate-title h2{
    font-size: 24px;
    text-align: center;
  }

  .achievement-desc p,
  .donate-desc P{
    font-size: 16px;
  }
  .achievement-desc{
    margin-top: 10px;
  }

}
@media screen and (max-width: 450px) {
  .donate-section{
    padding: 10px 0;
  }
  .country-title h2,
  .achievement-title h2,
  .donate-title h2{
    font-size: 20px;
  }
}
